:root { 
  --black: #000000;
  --eerie-black: #202020d6;
  --purple-pizzazz: #f300cf;
  --white: #ffffff;
  --white-2: #ffffffab;
 
  --font-size-l: 24px;
  --font-size-m: 23px;
  --font-size-s: 18px;
  --font-size-xl: 34px;
  --font-size-xxl: 35px;
  --font-size-xxxl: 40px;
  --font-size-xxxxl: 48px;
 
  --font-family-gotham-book: "Gotham-Book", Helvetica;
  --font-family-gotham-light: "Gotham-Light", Helvetica;
  --font-family-gotham_black-regular: "Gotham Black-Regular", Helvetica;
  --font-family-gotham_thin-regular: "Gotham Thin-Regular", Helvetica;
}
.gotham-book-normal-white-23px {
  color: var(--white-2);
  font-family: var(--font-family-gotham-book);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.gothamblack-regular-normal-white-34px {
  color: var(--white);
  font-family: var(--font-family-gotham_black-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.gothamblack-regular-normal-white-35px {
  color: var(--white);
  font-family: var(--font-family-gotham_black-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.gothamblack-regular-normal-white-48px {
  color: var(--white);
  font-family: var(--font-family-gotham_black-regular);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.gothamblack-regular-normal-purple-pizzazz-35px {
  color: var(--purple-pizzazz);
  font-family: var(--font-family-gotham_black-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}
