/* screen - wishlist */

.wishlist {
  align-items: center;
  background-color: #141414;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1621px;
  overflow: hidden;
  width: 1440px;
}

.wishlist .navbar-logo-left-container {
  align-self: flex-end;
  height: 69px;
  margin-right: -10567.49px;
  margin-top: -2086px;
  position: relative;
  width: 1440px;
}

.wishlist .navbar-logo-left {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  left: 0;
  padding: 0px 24px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.wishlist .navbar-container {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 1200px;
}

.wishlist .navbar-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 1200px;
}

.wishlist .navbar-brand {
  height: 36px;
  margin-bottom: -5508.45px;
  margin-left: -19744.49px;
  min-width: 141px;
  position: relative;
}

.wishlist .navbar-menu {
  align-items: center;
  display: flex;
  gap: 32px;
  position: relative;
  width: fit-content;
}

.wishlist .navbar-link {
  align-items: flex-start;
  display: flex;
  padding: 24px 12px;
  position: relative;
  width: fit-content;
}

.wishlist .button {
  align-items: center;
  background-color: var(--black);
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 8px 20px;
  position: relative;
  width: fit-content;
}

.wishlist .get-started {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16.8px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.wishlist .frame-10::-webkit-scrollbar {
  display: none;
  width: 0;
}

.wishlist .frame-10 {
  gap: 10px;
  margin-right: 0.21px;
  margin-top: 2043px;
  overflow-x: scroll;
}

.wishlist .group-53 {
  height: 58px;
  margin-right: -8.00px;
  min-width: 1389.79px;
  position: relative;
}

.wishlist .flex-row {
  align-items: center;
  display: flex;
  min-width: 1382px;
}

.wishlist .ellipse-1 {
  background-color: #d9d9d9;
  border-radius: 27px;
  height: 54px;
  margin-bottom: 2.0px;
  width: 54px;
}

.wishlist .overlap-group {
  height: 58px;
  margin-left: 24px;
  position: relative;
  width: 772px;
}

.wishlist .rectangle-13 {
  background-color: #d9d9d947;
  border-radius: 13px;
  height: 58px;
  left: 119px;
  position: absolute;
  top: 0;
  width: 653px;
}

.wishlist .search-for-patents {
  color: var(--white);
  font-family: var(--font-family-gotham_thin-italic);
  font-size: var(--font-size-xl);
  font-style: italic;
  font-weight: 400;
  left: 140px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 429px;
}

.wishlist .icon-search-normal-1 {
  height: 27px;
  left: 713px;
  position: absolute;
  top: 15px;
  width: 29px;
}

.wishlist .place {
  color: var(--white);
  font-family: var(--font-family-gotham_black-regular);
  font-size: var(--font-size-xxxl);
  left: 0;
  position: absolute;
  top: 8px;
  width: 188px;
}

.wishlist .place-1 {
  color: #ffffffab;
  cursor: pointer;
  font-family: var(--font-family-gotham-book);
  font-size: var(--font-size-xxl);
  margin-left: 30px;
  margin-top: 1.0px;
  min-height: 29px;
  width: 100px;
}

.wishlist .marketplace {
  color: #ffffffab;
  cursor: pointer;
  font-family: var(--font-family-gotham-book);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 15px;
  margin-top: 1.0px;
  min-height: 29px;
  width: 188px;
}

.wishlist .icon-profile-circle {
  cursor: pointer;
  height: 41px;
  margin-bottom: 5.0px;
  margin-left: 14px;
  width: 40px;
}

.wishlist .icon-heart {
  height: 37px;
  margin-bottom: 5.13px;
  margin-left: 31px;
  width: 41px;
}

.wishlist .icon-cart {
  cursor: pointer;
  height: 33px;
  margin-bottom: 1.0px;
  margin-left: 30px;
  width: 43px;
}

.wishlist .frame-56 {
  align-self: flex-start;
  gap: 40px;
  margin-left: 56px;
  margin-top: 62px;
  padding: 25px 0px 0px 25px;
}

.wishlist .my-wishlist {
  height: 33.04px;
  min-width: 211.23px;
  position: relative;
}

.wishlist .group-container {
  height: 252px;
  margin-left: 1.35px;
  margin-top: 96px;
  position: relative;
  width: 1195px;
}

.wishlist .group-57 {
  align-items: flex-start;
  display: flex;
  height: 252px;
  left: 0;
  min-width: 1195px;
  padding: 0 0.0px;
  position: absolute;
  top: 0;
}

.wishlist .group-23 {
  cursor: pointer;
  height: 252px;
  margin-top: 0;
  transition: all 0.2s ease;
  width: 264px;
}

.wishlist .group-23:hover {
  transform: scale(1.1);
}

.wishlist .group-23-1 {
  height: 252px;
  margin-left: 44px;
  margin-top: 0;
  width: 264px;
}

.wishlist .group-23-2 {
  cursor: pointer;
  height: 252px;
  margin-left: 47px;
  margin-top: 0;
  transition: all 0.2s ease;
  width: 264px;
}

.wishlist .group-23-2:hover {
  transform: scale(1.1);
}

.wishlist .group-24 {
  height: 252px;
  margin-left: 47px;
  margin-top: 0;
  width: 264px;
}

.wishlist .group-58 {
  align-items: flex-start;
  display: flex;
  height: 27px;
  left: 18px;
  min-width: 1093px;
  padding: 3.7px 0.9px;
  position: absolute;
  top: 219px;
}

.wishlist .patent-nft-1 {
  height: 16px;
  width: 102px;
}

.wishlist .patent-nft-1-2 {
  margin-left: 205px;
}

.wishlist .patent-nft-1-3 {
  margin-left: 210px;
}

.wishlist .patent-nft-1-4 {
  margin-left: 209px;
}

.wishlist .flex-row-1 {
  align-items: center;
  display: flex;
  height: 20px;
  margin-right: 38.96px;
  margin-top: 21px;
  min-width: 1146px;
}

.wishlist .x324-eth-1 {
  align-self: flex-end;
}

.wishlist .add-to-cart-2 {
  align-self: flex-end;
  height: 13px;
  margin-bottom: 0.02px;
  margin-left: 30px;
  width: 103px;
}

.wishlist .x324-eth-2 {
  margin-left: 98px;
  margin-top: 3.18px;
}

.wishlist .add-to-cart {
  height: 13px;
  margin-left: 30px;
  margin-top: 2.84px;
  width: 103px;
}

.wishlist .x324-eth-3 {
  margin-left: 103px;
  margin-top: 3.18px;
}

.wishlist .overlap-group6 {
  align-self: flex-start;
  height: 18px;
  margin-left: 89px;
  position: relative;
  width: 214px;
}

.wishlist .x324-eth {
  height: 13px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 81px;
}

.wishlist .add-to-cart-3 {
  color: #d331bb;
  font-family: var(--font-family-gotham_black-regular);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 80px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
  width: 134px;
}

.wishlist .overlap-group-container {
  align-items: flex-start;
  display: flex;
  margin-right: 4.65px;
  margin-top: 47px;
  min-width: 1201px;
}

.wishlist .overlap-group8 {
  height: 252px;
  position: relative;
  width: 264px;
}

.wishlist .group-2 {
  cursor: pointer;
  height: 252px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 264px;
}

.wishlist .group-2:hover {
  transform: scale(1.1);
}

.wishlist .patent-nft-1-1 {
  left: 20px;
  position: absolute;
  top: 222px;
}

.wishlist .overlap-group7 {
  height: 252px;
  margin-left: 44px;
  position: relative;
  width: 264px;
}

.wishlist .overlap-group5 {
  height: 252px;
  margin-left: 47px;
  position: relative;
  width: 264px;
}

.wishlist .patent-nft-1-5 {
  left: 15px;
  position: absolute;
  top: 222px;
}

.wishlist .overlap-group3 {
  align-items: flex-end;
  background-image: url(../img/group-29.png);
  background-size: 100% 100%;
  display: flex;
  height: 252px;
  margin-left: 53px;
  min-width: 264px;
  padding: 13.9px 17.9px;
}

.wishlist .flex-row-2 {
  align-items: flex-end;
  display: flex;
  margin-right: 9.4px;
  margin-top: 15px;
  min-width: 1188px;
}

.wishlist .add-to-cart-1 {
  height: 13px;
  margin-bottom: 0.02px;
  margin-left: 65px;
  width: 103px;
}

.wishlist .x324-eth-5 {
  margin-left: 65px;
}

.wishlist .x324-eth-6 {
  margin-left: 61px;
}

.wishlist .overlap-group2 {
  height: 18px;
  margin-left: 65px;
  position: relative;
  width: 250px;
}

.wishlist .add-to-cart-4 {
  color: #d331bb;
  font-family: var(--font-family-gotham_black-regular);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 80px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
  width: 170px;
}

.wishlist .bottom-macbook {
  align-self: flex-start;
  height: 373px;
  margin-left: 40px;
  margin-top: 275px;
  width: 1210px;
}

.wishlist .about-2 {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.wishlist .features-2 {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.wishlist .frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}

.wishlist .patent-nft-1-6 {
  height: 16px;
  width: 102px;
}

.wishlist .place-2 {
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.wishlist .pricing-2 {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.wishlist .x324-eth-7 {
  height: 13px;
  width: 81px;
}
